---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
{% set posts = collections.posts | byTag(tag) %}

<header class="page-header">
  <h1 class="page-title">{{ tag }}</h1>
  <p class="page-meta">{{ posts.length }} post{% if posts.length != 1 %}s{% endif %}</p>
</header>

{% include "post-list.njk" %}
