---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<h1>Posts tagged "{{ tag }}"</h1>

{% set posts = collections.posts | byTag(tag) %}
{% include "post-list.njk" %}
