---
permalink: /notebucket/rss/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/notebucket/rss.xml">
  <link rel="canonical" href="/notebucket/rss.xml">
</head>
<body>
  <a href="/notebucket/rss.xml">RSS feed moved to /notebucket/rss.xml</a>
</body>
</html>
